<!doctype html>
<html>
    <head>
        <title>Table properties</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Table properties</h1>
            <form method="POST" enctype="multipart/form-data">
                Group name: <input type="text" name="groupName"><br>
                Unit (f.e. 4.8): <input type="text" name="unit"><br>
                <input type="submit" value="Create table">
            </form>
        </div>
    </body>
</html>