<!doctype html>
<html>
    <head>
        <title>Update Student</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Update student info</h1>
            <form action="{{ url_for('upd_student') }}" method="POST">
                <div class="col-sm-6 bg-light">
                    <h2>Edit info</h2>
                        <input type="hidden" name="old_first_name" value="{{first_name}}">
                        <input type="hidden" name="old_last_name" value="{{last_name}}">
                        <input type="hidden" name="old_group_name" value="{{group_name}}">

                        <table>
                            <tr><td>Last name:</td><td><input type="text" name="new_first_name" value="{{first_name}}"></td></tr>
                            <tr><td>First name:</td><td><input type="text" name="new_last_name"  value="{{last_name}}"></td></tr>
                            <tr><td>Group:</td><td><input type="text" name="new_group_name" value="{{group_name}}"></td></tr>
                        </table>
                    
                </div>
                <br>
                <div class="col-sm-12">
                    <br>
                    <input type="submit" value="Update" name="Update">
                </div>
            </form>
        </div>
        <br>
    </body>
</html>
